
<form action="/named-cat" method='post'>
  <label for="name">CHOOSE MY NAME:</label>
  <div>
    <input type='text' name='name'
  </div>
  <div>
    <input type='submit' value='Submit'
  </div>
</form>
